.App {
  padding-top: 30px;
  display: flex;
  justify-content: center;
}
label {
  margin-bottom: 5px;
  display: flex;
  font-weight: 800;
}
input[type="text"],
input[type="email"],
input[type="password"],
select {
  width: 200px;
  padding: 12px 16px;
  display: block;
  background-color: #fff;
  color: #444;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.formControl {
  margin-bottom: 20px;
}
button {
  padding: 5px 15px;
}
.App-link {
  color: #61dafb;
}
.error {
  color: red;
}
input + label {
  font-weight: bold;
  display: inline-flex;
  margin-right: 20px;
  margin-left: 5px;
}
